body{
	background-image: url("background-image.png");
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.gif-buttons {
	margin-bottom: 5%;
}

.gif-button{
	margin-left: .5%;
	margin-right: .5%;
}

.navbar-header{
	text-align: center;
}

.giphy {
	margin-bottom: 1%;
}

.gif-display{
	display:inline;
}